*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header h1{
    font-family: 'Staatliches';
    font-size: 48px;
    font-style: normal;
    color: white;

}

.page{
    width: 750px;
    margin: auto;
}

header{
    width: 417px;
    margin-top: 140px;
    margin-bottom: 18px ;


}

header p{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
   
}

body, input, select, textarea{
    font-family: 'Poppins';
}
body{
    font-weight: 400;
    background: #E5E5E5;
}

body::before{
    content: '';
    width: 100%;
    height: 436px;
    background: #535971;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

form{
    background: #FFFFFF;
    min-height: 300px;
    border-radius: 20px 20px 0px 0px;
    margin-top: 58px;
    padding: 64px;
    
}

fieldset{
    border: none;
    
    
}

.fieldset-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fieldset-wrapper legend{
    color: #535971;
    font-family: 'Staatliches';
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    padding-bottom: 16px ;
    margin-bottom: 36px;
    


}

.fieldset-wrapper2 legend{
    color: #535971;
    font-family: 'Staatliches';
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    padding-bottom: 8px ;
    margin-bottom: 30px;
    margin-top: 32px;

}
.fieldset-wrapper3 legend{
    color: #535971;
    font-family: 'Staatliches';
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    width: 100%;
    
    margin-bottom: 8px;

}

.fieldset-wrapper4 legend{
    color: #535971;
    font-family: 'Staatliches';
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 8px;

}



.input-wrapper{
    display: flex;
    flex-direction: column;
}

    .input-wrapper label, .input-wrapper2 label, .input-wrapper3 label{
    color: #4E4958;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
    }

    .input-wrapper label span, .input-wrapper2 label span{
    margin-left: 9px;
    color: #C1BCCC;
    font-size: 12px;
    line-height: 20px; 
        }

        .input-wrapper label span:hover, .input-wrapper2 label span:hover{
            color: #7b7881;

        }
        .input-wrapper input{

            border-radius: 8px;
            border: 1px solid var(--Back-Lines-in-white, #E6E6F0);
            background: var(--Shapes-02, #FAFAFC);
            width: 622px;
            height: 56px;
            
            padding: 0 24px;
            font-size: 16px;
            color: #C1BCCC;

        }

        .input-wrapper2 input{

            border-radius: 8px;
            border: 1px solid var(--Back-Lines-in-white, #E6E6F0);
            background: var(--Shapes-02, #FAFAFC);
            width: 300px;
            height: 56px;
            
            padding: 0 24px;
            font-size: 16px;
            color: #C1BCCC;

        }

        .input-wrapper3 input{

            border-radius: 8px;
            border: 1px solid var(--Back-Lines-in-white, #E6E6F0);
            background: var(--Shapes-02, #FAFAFC);
            width: 100%;
            height: 56px;
            
            padding: 0 24px;
            font-size: 16px;
            color: #C1BCCC;
            gap: 8px;
        }


        .lado-a-lado {
            display: flex;
            gap: 20px;    

        }

        .col-3 {
            display: flex;
            gap: 8px; 
               

        }
        
        .col-3 > div:nth-child(1){
            width: 300px;
            margin-right: 26px;
        
        }

        footer{
            background: #535971;
            height: 160px;
            display: flex;
            flex-direction: column;
            padding: 52px 71px;
            margin-bottom: 366px;
        }

        footer .button{

            height: 55.652px;
            padding: 15px 40px;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: #FF5374;
            color: #FFF;
            font-family: 'Staatliches';
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            border: 0;
        }

        footer .button:hover{
            background: #e73357;  
        }

        